$main-font-stack: "Montserrat","Arial", sans-serif;
$font-title:"Kaushan Script", cursive;
$font-text: "Roboto" , sans-serif;


$text-bg-color:#ffffff;
$accent-color:#fbde8a;
$primary-color-light: #999999;
$primary-color-dark: #333333;
$accent-color-icon: #f38181;
$input-color:#cfcfcf;
$button-bg-color:#95e1d3;